@charset "UTF-8";

.body {
  font-family: Lato;
}

.text_Raleway {
  font-family: Raleway;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
} 

.header {
  background-color: #fff;
  width: 100%;
  padding: 15px 0 15px 0;
  z-index: 10;
  position: fixed;
}

.top_header {
  background-color: #fff;
  position: relative;
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

.button {
  background-color: #74cfae;
  padding: 12px 14px 12px 14px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  float: right;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  color: #333;
}

.icon_float {
  position: absolute;
  left: 0;
  font-size: 25px;
}

.main_plus{
  padding-top: 64px;
}

.theme {
  background-color: #f2f2f2;
  width: 100%;
  padding: 250px 0 250px 0;
}

.theme_title {
  text-align: center;
}

.Bolt_Theme {
  font-size: 90px;
  color: #74cfae;
  font-weight: 700;
}

.FREE_BOOTSTRAP_THEMES {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

.what_we_can_do {
  background-color: #74cfae;
  width: 100%;
  padding-top: 50px;
}


.iphone {
  margin: 0 auto;
  padding-left: 10%;
}

.imgbox {
  font-size: 0;
  float: left;
}

.textbox {
  width: 600px;
  text-align: center;
  vertical-align: top;
  margin-left: 120px;
  float: left;
}

.what_we {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.description {
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  word-break: break-all;
}

.our_latest_work {
  width: 100%;
  background-color: #f2f2f2;
  font-size: 0;
  padding: 60px 0 70px 0;
}

.article_title {
  font-size: 24px;
  text-align: center;
  font-family: Raleway;
}

.article_img {
  margin: 40px 0 90px 0;
}

.box_group1{
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 100px;
}

.control_img_top {
  float: left;
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer;
  margin: 80px 0 0 100px;
}

.control_img_top:hover {
  opacity: 1.0;
}

.control_img_top:nth-child(3n+1){
  margin-left: 0;
}

.control_img_top:nth-child(-n+3){
  margin-top: 0;
}
.article_text_box {
  margin: 90px auto 0;
  text-align: center;
}

.left_textbox {
  width: 600px;
  text-align: center;
  display: inline-block;
}

.left_textbox_inner {
  font-size: 20px;
}

.right_button {
  margin-left: 90px;
  display: inline-block;
}

.right_button_width {
  width: 100px;
  display: table-cell;
  background-color: #74cfae;
  color: #fff;
  text-align: center;
  padding: 14px 20px 14px 20px;
  transition: all 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.right_button_width:hover {
  color: #333;
}

.right_button_inner {
  font-size: 12px;
}

.our_skills {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.our_skills_text {
  font-size: 24px;
  color: #fff;
  text-align: center;
}

.section_imgbox {
  margin-top: 70px;
}

.section_img_margin {
  margin-left: 180px;
  float: left;
}

.section_img_margin:first-child {
  margin-left: 30px;
}

.under_JavaScript {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.under_Bootstrap {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.under_WordPress {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.under_Photoshop {
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.sns {
  background-color: #f2f2f2;
  padding: 200px 0 200px 0;
  font-size: 0;
}

.sns_icon {
  transition: all 0.3s;
  cursor: pointer;
  text-align: center;
}

.anime {
  width: 185px;
  font-size: 40px;
  padding: 30px 0 30px 0;
  color: #74cfae;
  transition: all 0.3s;
  display: inline-block;
}

.anime:hover {
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
  padding: 20px 0 25px 0;
}

.footer_text {
  font-size: 20px;
  color: #fff;
  text-align: right;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
  
  .inner {
    width: 97%;
  }

  .header {
    display: inline-block;
    width: 100%
  }

  .what_we_can_do {
   padding: 50px 0 25px 0; 
  }

  .iphone {
    padding-left: 0;
  }

  .imgbox {
    text-align: center;
    padding-bottom: 20px;
    float: none;
  }

  .textbox {
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  .article_img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .control_img_top {
    margin: 0 ;
  }

  .control_img_top:nth-child(3n+1) {
    margin-top: 80px;
  }

  .control_img_top:first-child {
    margin-top: 0;
  }

  .article_text_box {
    margin-top: -10px;
  }

  .left_textbox {
    width: 100%;
    display: block;
  }

  .right_button {
    margin: 40px auto 0;
  }

  .section_imgbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_img_margin {
    margin: 88px 0 0 0;
  }

  .section_img_margin:first-child {
    margin: 0
  }

}
